build/
cmake-build-*/
out/
dist/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.pro.user
*.pro.user.*
*.qmake.stash
*.autosave
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h

.qtcreator/
*.creator
*.creator.user
*.creator.user.*

.idea/
*.iml
.vscode/
*.xcodeproj/
*.xcworkspace/

.DS_Store
**/.DS_Store
*~

*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.a
*.lib
*.dSYM/
